.home, .search, .homeSearch, .usrBase, .usrInf, #signOut, .userPic{
    display: inline-block;
}

.main{
    width: 100%;
    position: fixed;
    top: 0;
}

.usrInf h3, .usrInf p{
    margin: 0px;
    
}

.usrInf{
    margin-right: 15px;
}

.usrBase{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.usrBase button:focus{
    outline: none;
    border: 3px solid rgba(255, 38, 0, 0.37);
}
.usrBase button{
        border-width: 3px;
        height: 40px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 25px;
        background-color: rgb(79, 78, 59);
            font-family: "Century Gothic";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
}
#search {
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1px;
    padding: 3px 0px 3px 28px;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 255, 0.37);
}
#search:focus{
    outline: none;
    border: 3px solid rgba(255, 38, 0, 0.37);
}
.search {
    width: 40px;
}
.searchOpen {
    width: 200px;
    animation: openSearch;
    animation-duration: 0.5s;
}

.searchClose {
    width: 40px;
    animation: closeSearch;
    animation-duration: 0.5s;
}

@keyframes openSearch {
    from {
         width: 40px;
    }
    to {
         width: 200px;
    }
}
@keyframes closeSearch {
    from {
         width: 200px;
    }
    to {
         width: 40px;
    }
}
nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        border-width: 0.5px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        background-color: rgb(221, 183, 55);
        height: 70px;
      
}

.home, .home img{
    width: 40px;
}

.userPic img{
    width: 60px;
    margin-right: 15px;
}

.home{
    
    margin-right: 15px;
}

.home button{
    border: none;
    background-color: inherit;
}


.home button:focus{
    outline: none;
}

.usrInf h3{
        font-size: 25px;
        font-family: "Century Gothic";
        color: rgb(0, 0, 0);
        font-weight: lighter;
        line-height: 1.2;
        text-align: center;
}

.usrInf strong{
    font-weight: bold;
}

.sect{
    width: 50%;
    padding-top: 100px;
    background-image: url(../images/body-paint.png);
}



.sect form{
}



.sect form img{
    width: 30px;
    position: absolute;
    right: 35px;
    top: -20px;
    cursor: pointer;
}
.sect form textarea:focus{
    outline: none;
}
.sect form textarea{
    width: 80%;
    height: 100%;
    resize: both;
}

.noform{
    width: 0px;
    height: 0px;
    position: relative;
    opacity: 0;
}

.formop{
    animation: formOpen;
    width: 60%;
    height: 108px;
    position: relative;
    animation-duration: 1s;
    opacity: 1;
    
}


@keyframes formOpen{
    from{
        opacity: 0;
        width: 0%;
        height: 0px;
        border-radius: 10px;
    }

    to {
        opacity: 1;
        width: 60%;
        height: 108px;
        border-radius: 5px;
    }
}

@keyframes formClose{
    from{
        
        width: 60%;
        height: 108px;
        border-radius: 5px;
    }

    to {
        width: 0%;
        height: 0px;
        border-radius: 10px;
    }
}


@media screen and (max-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}



@media screen and (max-width: 1300px) {
    nav{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
            border-width: 0.5px;
            border-color: rgb(0, 0, 0);
            border-style: solid;
            background-color: rgb(221, 183, 55);
            height: 70px;
          
    }
    .sect{
        width: 70%;
        padding-top: 100px;
        background-image: url(../images/body-paint.png);
    }
}

@media screen and (max-width: 940px) {
    /*.home, .search{
        display: block;
    }*/
    .home, .home img{
        width: 30px;
    }
    .search {
        width: 40px;
        height: 35px;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
            border-width: 0.5px;
            border-color: rgb(0, 0, 0);
            border-style: solid;
            background-color: rgb(221, 183, 55);
            height: 70px;
          
    }
    .sect{
        width: 100%;
        padding-top: 100px;
        background-image: url(../images/body-paint.png);
    }
    .usrInf h3{
        font-size: 20px;
        font-family: "Century Gothic";
        color: rgb(0, 0, 0);
        font-weight: lighter;
        line-height: 1.2;
        text-align: center;
}

.usrBase button{
    border-width: 2px;
    height: 30px;
    width: 90px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 25px;
    font-size: 10px;
    background-color: rgb(79, 78, 59);
        font-family: "Century Gothic";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
}

.userPic img{
    width: 50px;
    margin-right: 5px;
}
.usrInf{
    margin-right: 5px;
}
}


@media screen and (max-width: 550px) {
    .search{
        position: relative;
    }
    #search{
        position: absolute;
        left: -45px;
        top: 60px;
        z-index: 100;
    }

    .home button img{
        margin-bottom: 10px;
    }

    .usrBase button{
        border-width: 2px;
        height: 30px;
        width: 90px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 25px;
        font-size: 10px;
        background-color: rgb(79, 78, 59);
            font-family: "Century Gothic";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-align: center;
            position: absolute;
            top: 70px;
            right: 0px;
            z-index: 100;
    }

}